<div class="cube-container">
    <div class="face front">
        <div class="content">
            <div class="top head ">Need a ?</div>
            <div class="top logo">Logo /Creative</div>
            <div class="top ui">UI/UX</div>
            <div class="top website">Web App/Website</div>
            <div class="top android">Android App</div>
            <div class="top full">Full Stack Developer</div>
            <div class="top no-worry">No Worries! I got you</div>
        </div>
        <!-- <div class="star"></div> -->
    </div>
</div>